<!DOCTYPE html>
<html lang="it" xml:lang="it" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(pageTitle=#{page.successfulAdminOperation.head.title})"> </head>
	<body>
	
		<div th:replace="fragments/base.html :: logo" />
	    
	    <div class="container">
	    	
	    	<div class="bgpurple bordered panel">
		    	<h3 th:text="#{successfulAdminOperation.msg}">Tutto ok</h3>
		    	<a th:href="@{/login}">
					<button class="btn" th:text="#{successfulAdminOperation.areaRiservata}">Home</button>
				</a>
	   		</div>
			
			<div th:replace="fragments/base.html :: fondo" />
	    </div>
	    
	</body>
</html>